<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>basic JS canvas work</title>
    <!-- Link to the socket.io info -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  </head>

  <style>
    #slate { border: 1px solid black }
  </style>

  <h1>Bonjour le monde!</h1>
  <h2>demo</h2>

  <div>
    <canvas height="600" width="600"
            id="slate">
            dis dat alt txt tho
    </canvas>
  </div>

  <button id="buttonToggle">rect|circ</button>
  <button id="buttonClear">wipe</button>
  <!-- <script src="static/js/s.js"></script> -->
  <script>
  //retrieve node in DOM via ID
  var c = document.getElementById("slate");
  var ctx = c.getContext("2d");
  var mode = "rect";

  var socket;
  $(document).ready(function() {
      // // The http vs. https is important. Use http for localhost!
      socket = io.connect('http://' + document.domain + ':' + location.port);

      console.log("socket is ready");



  //standard functions
  var toggleMode = (e) => {
    if (mode == "rect") {
      mode = "circle";
    }
    else {
      mode = "rect";
    }
  };


  var send_mouse = function(e){
    var mouseX = e.offsetX;
    var mouseY = e.offsetY;
    // websocket.send(JSON.stringify({"mode":mode, "xcor":mouseX, "ycor":mouseY}))
    socket.emit('send_mouse', {"mode":mode, "xcor":mouseX, "ycor":mouseY});
    console.log("sent to server "+mode+" "+mouseX+", "+mouseY);
  };

  var drawRect = function(mouseX, mouseY) {
    ctx.fillStyle = "red";
    ctx.fillRect(mouseX, mouseY, 100, 200);
  };

  var drawCircle = function(mouseX, mouseY) {
    ctx.fillStyle = "red";
    ctx.beginPath();
    ctx.arc(mouseX, mouseY, 50, 0, 2*Math.PI);
    ctx.fill();
  };

  var wipeCanvas = function() {
    ctx.clearRect(0, 0, c.clientWidth, c.clientHeight);
  };

  // eventlisteners
  // var c = document.getElementById("slate");
  c.addEventListener('click', send_mouse);

  var bToggler = document.getElementById("buttonToggle");
  bToggler.addEventListener('click', function() {
    toggleMode();
    if (mode == "rect") {
      bToggler.innerHTML = "Rectangle";
    }
    else {
      bToggler.innerHTML = "Circle";
    }
  });

  var clearB = document.getElementById("buttonClear");
  clearB.addEventListener('click', function(){
      // send to  server to wipe for all
      // websocket.send(JSON.stringify({"mode":"wipe"}));
      socket.emit('send_mouse', {"mode":"wipe"});
      console.log("sent to server wipe -1,-1");
  });

  // socketio function
  // Interval function that tests message latency by sending a "ping"
              // message. The server then responds with a "pong" message and the
              // round trip time is measured.
              var ping_pong_times = [];
              var start_time;
              window.setInterval(function() {
                  start_time = (new Date).getTime();
                  $('#transport').text(socket.io.engine.transport.name);
                  socket.emit('my_ping');
              }, 1000);

              // Handler for the "pong" message. When the pong is received, the
              // time from the ping is stored, and the average of the last 30
              // samples is average and displayed.
              socket.on('my_pong', function() {
                  var latency = (new Date).getTime() - start_time;
                  ping_pong_times.push(latency);
                  ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
                  var sum = 0;
                  for (var i = 0; i < ping_pong_times.length; i++)
                      sum += ping_pong_times[i];
                  $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
              });


  socket.on('draw_to_all', function(data) {
      console.log(data);
      const event = data;
      if(event.mode=="rect"){
        drawRect(event.xcor,event.ycor);
      }else if (event.mode == "circle"){
        drawCircle(event.xcor, event.ycor);
      }else if (event.mode == "wipe"){
        wipeCanvas();
      }
  });
  });

</script>

</html>
